.project
.settings/
salesforce.schema
src/appMenus/
src/applications/
src/assignmentRules/
src/communities/
src/email/
src/escalationrules/
src/flexipages/
src/homePageLayouts/
src/labels/
src/layouts/
src/objects/
src/package.xml
src/profiles/
src/quickActions/
src/remoteSiteSettings/
src/roles/
src/settings/
src/workflows/

